p{
    text-align: center;
    color: crimson;


}

#blue{
    background-color: blue;
}

.larger{
    font-size: 50px;
}

.teste{
    text-align: center;
    color: blueviolet;
}

*{
    font-family: cursive;
}

/* h1, p, h2{
    background-color: slateblue;    comentario apra o CSS
} */